.row-header{
	margin: 0px auto;
	padding: 0px auto; 
}

.row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}	

.footer{
	background-color: #D1C4E9;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

.jumbotron{
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background: #9575CD;
	color: floralwhite;
}

.address{
	font-size: 80%;
	margin: 0px;
	color: #0f0f0f;
}

body{
	padding: 50px 0px 0px 0px;
	z-index: 0;
}

.navbar-dark{
	background-color: #512DA8;
}
	
#page-center{
	margin:auto;
}

#radio-form{
	margin-top:15px;
	margin-left:10px;
}

.form-color{
	background-color:#fdc02f;
}

a:hover{
	text-decoration: none;
	font-size-adjust:1.3em;
}

.btn{
	transition: 0.5s;
	font-size:1.1em;
}

.btn-warning:hover{ 
	padding-right:25px;
	cursor:pointer;
	background-color:#ffc107;
	border-color:#000000;
	border-width:2px;
}

.btn-warning {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-warning :after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  right: 0px;
  transition: 0.5s;
}

.btn-warning:hover :after {
  opacity: 1;
  right: 0;
}